@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shop</h1>
    <p class="lead">Shop это приложение для работы с базой данных вашего магазина.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Возможности</h2>
        <p>Shop позволит вам хранить и изменять всю необходимую информацию для вашего магазина.</p>
    </div>
    <div class="col-md-6">
        <h2>Выполняйте запросы</h2>
        <p>Здесь для вас уже подготовлены различные формы запросов.</p>
    </div>
</div>